[submodule "library-sp21"]
	path = library-sp21
	url = https://github.com/Berkeley-CS61B/library-sp21

[submodule "lectureCode"]
	path = lectureCode
	url = https://github.com/Berkeley-CS61B/lectureCode-sp21